<li>
    <h3>{{name}}</h3>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <div>Languages:
        <ul> {{# each languages}} 
            <li>{{this}}</li>
            {{/each}} 
        </ul>
    </div>
    <img src="{{ flags}}" alt="flag" >
</li>
